
.actor-card {
    transition: transform 0.3s;
}

.actor-card:hover {
    transform: scale(1.1);
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
}

@media (max-width: 576px) {
    .actor-card {
        margin-bottom: 15px;
    }
}

